<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order_manager.mappers.UserMapper">

    <resultMap id="UserMap" type="User">
        <id column="uuid" property="uuid" />
        <result column="name" property="name" />
        <result column="surname" property="surname" />
    </resultMap>

    <select id="getUserByUuid" resultMap="UserMap">
        select uuid, name, surname from public.users WHERE uuid=#{uuid}
    </select>
</mapper>